<!DOCTYPE html>
<html lang="en">
  <head>
	  <style type="text/css">

body {transform: scale(0.8) translate(0px, -250px); }

</style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-static/ico/favicon.png">

    <title>Wei's Homepage </title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="static/css/main.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/js/hover.zoom.js"></script>
    <script src="static/js/hover.zoom.conf.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">Wei Jin</a>
        </div>
        <div class="navbar-collapse collapse" >
          <ul class="nav navbar-nav navbar-right">
			  <li><a href="#Biography"><font size="4">Biography</font></a></li>
			  <li><a href="#Projects"><font size="4">Projects</font></a></li>
            <li><a href="#Experience"><font size="4">Experience</font></a></li>
            <li><a href="#Contact"><font size="4">Contact</font></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<!-- +++++ Welcome Section +++++ -->
	<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<img src="static/img/user.png" alt="Stanley">
					<h1>Hi, I am Wei Jin!</h1>
					<font size="3"> Undergraduate Student (since Fall 2015)<br>
						College of Electrical Engineering<br>
						Zhejiang University</font>

				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
			<!-- +++++ Projects Section +++++ -->
			<div class="container pt" >
				<div id="Biography">
				<h1>Biography</h1>
				<font size="3">Hello everybody. I'm Wei Jin, a senior student from the college of Electrical Engineering, Zhejiang University.
	Currently, I am especially interested in using machine learning to solve NLP problems and build recommender systems.
					<br><br> You can find more details on my <a href="">CV</a>
				</font>
			<!--<object data="cv.pdf" type="application/pdf" width="700px" height="700px">-->
				<!--<embed src="cv.pdf">-->
					<!--<p>This browser does not support PDFs. Please download the PDF to view it: <a href="cv.pdf">Download PDF</a>.</p>-->
				<!--</embed>-->
			<!--</object>-->
	<object data="pdf/cv.pdf" type="application/x-pdf" title="SamplePdf" width="500" height="720">
		<a href="pdf/cv.pdf">shree</a>
	</object>
				</div>

				<div id="Interest">
				<h1>Research Interest</h1>
					<font size="3">●  Text Ming<br>●  Graph Embedding<br>●  Recommender Systems<br>●  Machine Learning</font>
				</div>
				<div id="Projects">
					<h1>Projects</h1>
					<font size="3">Question Answering System Based on Neo4j Graph Database<br>
						●	Demo link: <a href="http://118.25.74.160/" target="_blank" title="demo">CLICK HERE</a><br>
						●	Developed a movie question answering system based on knowledge graph<br><br>

					    AI For Reversi Game 	<br>
						●	Implemented AI for Reversi Game to compete with other students in Artificial Intelligence course<br>
						●	Based on two kinds of methods, MCTS and Deep Reinforcement Learning </font>
				</div>
				<div id="Experience">
					<h1>Research Experience</h1>
					<font size="3"><b>University of Western Australia - Research Intern,  Jul 2018 - Sep 2018</b><br>
						●	Incorporated Abstract Meaning Representation (AMR) in natural language processing tasks including paraphrase identification <br>
						and sentiment analysis, based on Graph Embedding and Latent Semantic Analysis<br>
						●	Under the supervision of Dr. Wei Liu and Dr. David Glance, Department of Computer Science, UWA<br><br>

					    <b>Digital media Computing & Design Lab (DCD Lab), ZJU - Research Student, Mar 2018 - Jul 2018</b><br>
						●	Developed a face identification system for the members in our lab and now exploring a system which can handle cross-domain <br> problem to detect faces or other objects in artwork<br>
						●	Under the supervision of Professor Donghui Wang, ZJU <br>

				</div>
				<div id="Rewards">
					<h1>Rewards</h1>
					<font size="3">
						●	Second-Class Scholarship for Outstanding Merits (2016, 2017, top 11%)<br>
						●	Da Bei Nong Scholarship (2017)<br>
						●  Du Rujin Scholarship (2017)<br>
						●  Honorable Mention in Mathematical Contest In Modeling (2018)<br>
					</font>
				</div>

			</div>	<!-- /row -->


	    </div> <!-- /container -->
	</div><!-- /ww -->


	<!-- +++++ Footer Section +++++ -->

	<div id="footer">
		<div class="container" id="Contact">
			<div class="row">
				<div class="col-lg-4">
					<h4>Contact Me</h4>
					<font size="3" color="white">
						jvv@zju.edu.cn<br/>
						+86 18867151915<br/>
						Wechat: jwmmzz
					</font>
				</div><!-- /col-lg-4 -->

				<div class="col-lg-4">
					<h4>MY Address</h4>
					<font size="3" color="white">
					Yuquan Campus, ZJU,<br>
						Hangzhou, China
					</font>
				</div><!-- /col-lg-4 -->

				<div class="col-lg-4">
					<h4>About Wei Jin</h4>
					<font size="3" color="white">Please feel free to contact me : )</font>
				</div><!-- /col-lg-4 -->

			</div>

		</div>
	</div>
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>
